<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing_page_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_style.css') }}">


    <!-- Surfly widget code -->
    <script>
    (function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
    l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
    l.src='https://x.zok.pw/new-widget-s1.js';y.parentNode.insertBefore(l,y);})
    (window,document,'script','Surfly');
    </script>

   <!-- Surfly init function -->
   <script>
   var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a', end_of_session_popup_url: "https://tranquil-ravine-73076.herokuapp.com/survey"}; 
    window.addEventListener('DOMContentLoaded', function() {
      Surfly.init(settings, function(init) {
        if (init.success) {
          if (Surfly.currentSession) {
            // inside the session, hide the get help section
            document.getElementById('get_help').style.visibility="hidden";
          }
        }
      });
    });
    </script>

    <!-- zopim -->
	<script>
	if(!window.__surfly){
	    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
	    $.src="//v2.zopim.com/?40l495kTPWFGA7JFrUDzK03KARqCPsNL";z.t=+new Date;$.
	    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");  
	}
        </script>
  </head>

  <body>
        <a href="{{ url_for('index') }}">
        <img class="img-logo" src="../static/logo1.png"/>
        </a>
        <button class="button" id="id_button" onclick="redirect()">Queue ID</button>
	<div>
   	<p class="test">You requested some help. If you are already on the phone with our company, you can pass on the ID you see on this page to the person you are talking to. They will then be able to join you on this session and guide you through the website. Once you have given this ID, you can click on it to be redirected to the home page. </p>
	<p class="test">If you just want to get some help, you can click the button and wait for an agent to join the session and help you.</p>
  	</div>
	
	<script>
	function redirect(){
		window.location.href = '/';
	}		
	</script>

        <script>
	// get session ID
  	var request = new XMLHttpRequest();
  	request.open('GET', 'https://api.surfly.com/v2/sessions/?	api_key=33c092b9d4d6425e817f5140447e43da&active_session=true');
  	request.onreadystatechange = function () {
    	if (this.readyState === 4) {
      		if(window.__surfly){
        		var body = this.responseText;
        		var index = body.indexOf("session_id");
        		var index_end = body.indexOf("agent_id");
        		var id = body.substring(index+13, index_end-3);
			sessionStorage.setItem("session_id", id);
     	 	}
    	}
  	};
  	request.send();	
   	</script>

	<script type="text/javascript">
 	// using the REST API to get information about the session
	var request = new XMLHttpRequest();

	request.open('GET', 'https://api.surfly.com/v2/sessions/?api_key=33c092b9d4d6425e817f5140447e43da&active_session=true');

	request.onreadystatechange = function () {
	  if (this.readyState === 4) {
	    if(window.__surfly){
		    var body = this.responseText; 
		    // we extract the queue_id from the string we get from the request
		    var index = body.indexOf("queue_id");
		    var id = body.substring(index+10, index+14);			
		    // we display this id on the button
		    document.getElementById("id_button").innerHTML=id;
	    }
	  }
	};

	request.send();
	</script>

   </body>
</html>

