<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional_form_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_style.css') }}">

    <title>Cake order</title>

    <!-- Surfly widget code -->
    <script>
    (function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
    l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
    l.src='https://x.zok.pw/new-widget-s1.js';y.parentNode.insertBefore(l,y);})
    (window,document,'script','Surfly');
    </script>

    <!-- Surfly init function -->
    <script>
   var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a', end_of_session_popup_url: "https://tranquil-ravine-73076.herokuapp.com/survey"}; 
    window.addEventListener('DOMContentLoaded', function() {
      Surfly.init(settings, function(init) {
        if (init.success) {
          if (Surfly.currentSession) {
            // inside the session, hide the get help section
            document.getElementById('get_help').style.visibility="hidden";
          }
        }
      });
    });
    </script>

  </head>

  <body class="body-style">
         <!-- logo as link to homepage -->
         <a href="{{ url_for('index') }}">
         <img class="img-logo" src="../static/logo4.png"/>
         </a>
         
         <!-- order form -->
 	 <form id="order" class="dark-matter">

	    <h1 class="text-title">Fantasy Bakes Order Form 
		<span>Please fill all the text fields</span>
	    </h1>

	    <label>
		<span>Full name :</span>
		<input id="name" type="text" name="name" />
	    </label>
	    
	    <label>
		<span>Email address :</span>
		<input id="email" type="email" name="email"/>
	    </label>
	    
	    <label>
		<span>Address:</span>
		<textarea id="address" name="address"> </textarea>
	    </label> 
            <label>
		  <div class="form-row">
    		    <label>
		      <span>Card Number</span>
		      <input type="text" size="20" data-stripe="number" surfly_private>
		    </label>
		  </div>

		  <div class="form-row">
		    <label>
		      <span>Expiration (MM/YY)</span>
		      <input type="text" size="5" surfly_private>
		    </label>
		  </div>

		  <div class="form-row">
		    <label>
		      <span>CVC</span>
		      <input type="text" size="4" data-stripe="cvc" surfly_private>
		    </label>
		  </div>
	    </label>      
            <label>
               <!-- order button -->
               <span>&nbsp;</span>
               <input type="button" class="button" id="order_button" style="cursor:pointer;" onclick=thankYou() style="background-color: #87cefa;" value="Order"/> 
            </label>
	</form>
       
          <script type="text/javascript">
           function thankYou() {
                document.getElementById("order").submit();
                // retrieve the entered details
                var get_name = document.getElementById("name").value;
	        var get_email = document.getElementById("email").value;
	        var get_address = document.getElementById("address").value;  
                // set cookies
	        document.cookie = 'order: name='+get_name+', email='+get_email+', address='+get_address;
                // relocate to thank_you page
	        window.location.href = '/thank_you';
	   }
        </script>
  </body>
</html>
