<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='survey_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_style.css')}}">

    <title>Survey</title>

    <!-- Surfly widget code -->
    <script>
    (function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
    l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
    l.src='https://x.zok.pw/new-widget-s1.js';y.parentNode.insertBefore(l,y);})
    (window,document,'script','Surfly');
    </script>

    <!-- Surfly init function -->
    <script>
   var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a', end_of_session_popup_url: "https://tranquil-ravine-73076.herokuapp.com/survey"}; 
    window.addEventListener('DOMContentLoaded', function() {
      Surfly.init(settings, function(init) {
        if (init.success) {
          if (Surfly.currentSession) {
            // inside the session, hide the get help section
            document.getElementById('get_help').style.visibility="hidden";
          }
        }
      });
    });
    </script>

  </head>

  <body>
     <!-- logo -->
     <img class="img-logo" src="../static/logo1.png"/>
     <!-- form for survey -->
     <form action="" method="post" id="survey" class="dark-matter">
        <h1>Survey
        	<span>Please give us feedback</span>
        </h1>
        <label>
        	<span>Full name :</span>
        	<input id="name" type="text" name="name" />
        </label>
	    
        <label>
		<span>Email address :</span>
		<input id="email" type="email" name="email"/>
        </label>
	    
        <label>
		<span>Message:</span>
		<textarea id="message" name="message"></textarea>
        </label>   
        <label>
		<span>&nbsp;</span> 
		<input type="button" style="background-color: #87cefa;" class="button" onclick="submitSurvey()" value="Send" /> 
	</label>    
	</form>

     	<script>
	function submitSurvey(){
                // submit and redirent to the thanks_survey page
		document.getElementById("survey").submit();
		window.location.href = '/thanks_survey';
	}
	</script>
  </body>
</html>
