<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <!-- Surfly widget code -->
    <script>
    (function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
    l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
    l.src='https://x.zok.pw/new-widget-s1.js';y.parentNode.insertBefore(l,y);})
    (window,document,'script','Surfly');
    </script>

    <!-- Surfly init function -->
    <script>
   var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a', end_of_session_popup_url: "https://tranquil-ravine-73076.herokuapp.com/survey"}; 
    window.addEventListener('DOMContentLoaded', function() {
      Surfly.init(settings, function(init) {
        if (init.success) {
          if (Surfly.currentSession) {
            // inside the session, hide the get help section
            document.getElementById('get_help').style.visibility="hidden";
          }
        }
      });
    });
    </script>

    <title>Thank you page</title>

    <!-- stylesheets -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/stylish-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_style.css') }}">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
   
<body>
    <header id="top" class="header">
        <!-- logo -->
        <img class="img-logo" src="../static/logo2.png"/>
        <!-- text -->
        <div class="text-vertical-center">
            <h1>Thank you</h1>
            <h3>for your order</h3>
            <br>
            <a href="{{ url_for('receipt') }}" class="btn btn-dark btn-lg">Get Receipt</a>
        </div>
    </header>

</body>
</html>
